<a href="https://colab.research.google.com/github/jiejie168/SC_DataAnalysis_digitalization2/blob/main/session3_Part_1__practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SC data analysis and digitalization: python basics 2

# Tuples

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

Now, let us create your first tuple with string, integer and float.

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

The type of variable is a **tuple**.

In [ ]:
# Print the type of the tuple you created

type(tuple1)

tuple

# Lists

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

## index

In [ ]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson

# Dictionaries

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
# Access to the value by the key

Dict["key1"]

1

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
## keys

In [ ]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [ ]:
## values

In [ ]:
Dict.values()

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

# SET

In [ ]:
# Create a set, the  Python will automatically remove duplicate items:

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
type(set1)

set

In [ ]:
# or we can also create a set by using the set function
A = set(["pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"])
A

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

# The end !